.wrap {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.sidebar {
    grid-area: sidebar;
    width: 282px;
}

.main {
    margin: 1.5rem;
    padding: 1.5rem 2rem;
    grid-area: main;
    background: var(--light);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.3125rem;
}